<div class="burger-backdrop burger--hidden" data-burger-backdrop>
  <div class="burger">
    <h2 class="burger__logo">energy.flow</h2>
    <button type="button" class="burger__btn" data-burger-close>
      <img
        src="../imgs/svgs/close-icon.svg"
        alt="close popup icon"
        class="popup__close-svg"
      />
    </button>
    <ul class="burger__list">
      <li class="burger__item burger__item--active">
        <a href="index.html" class="burger__link">Home</a>
      </li>
      <li class="burger__item">
        <a href="favorites.html" class="burger__link">Favorites</a>
      </li>
    </ul>
    <ul class="burger__socials">
      <li class="burger__social">
        <svg>
          <use href="../imgs/symbol-defs.svg#facebook"></use>
        </svg>
      </li>
      <li class="burger__social">
        <svg>
          <use href="../imgs/symbol-defs.svg#instagram"></use>
        </svg>
      </li>
      <li class="burger__social">
        <svg>
          <use href="../imgs/symbol-defs.svg#youtube"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
