<section class="exercises">
  <div class="container">
    <h2 class="exercises__title">
      Exercises<span id="span-ss" class="pagination__span unFisitble">
        <span class="exercises__title"> / </span>
        <span class="renm-sp">Waist</span></span
      >
    </h2>
    <div class="section-exesa-searh">
      <ul class="filters">
        <li class="filters__item filters__item--active" data-filter="muscles">
          <button class="filters__btn" data-filter="muscles">Muscles</button>
        </li>
        <li class="filters__item" data-filter="bodyparts">
          <button class="filters__btn" data-filter="bodyparts">
            Body parts
          </button>
        </li>
        <li class="filters__item" data-filter="equipment">
          <button class="filters__btn" data-filter="equipment">
            Equipment
          </button>
        </li>
      </ul>
      <div id="box-searh" class="inp-searh unFisitble">
        <input class="inpun-Search" type="text" placeholder="Search" />
        <img class="img-svg-serh" src="../imgs/svgs/searchsearh.svg" alt="" />
      </div>
    </div>

    <ul class="exercises__list"></ul>

    <ul class="pagination">
      <li class="pagination__item pagination__item--active">
        <p class="pagination__text">1</p>
      </li>
      <li class="pagination__item">
        <p class="pagination__text">2</p>
      </li>
    </ul>
  </div>
</section>
