<section class="exercises">
  <div class="container">
    <h2 class="exercises__title">Exercises</h2>
    <ul class="filters">
      <li class="filters__item filters__item--active">
        <button class="filters__btn">Muscles</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn">Body parts</button>
      </li>
      <li class="filters__item">
        <button class="filters__btn">Equipment</button>
      </li>
    </ul>
    <ul class="exercises__list">
      <li class="exercises__item">
        <div>
          <h3 class="exercises__subtitle">Abductors</h3>
          <p class="exercises__text">Muscles</p>
        </div>
      </li>
    </ul>
    <ul class="pagination">
      <li class="pagination__item pagination__item--active">
        <p class="pagination__text">1</p>
      </li>
      <li class="pagination__item">
        <p class="pagination__text">2</p>
      </li>
    </ul>
  </div>
</section>
