 <div class="quote__svg-text">
    <div>
      <img class="quote-img-galothka" src="../imgs/svgs/quote.svg" alt="">
    </div>
    <div class="text-boxes">
      <img class="svg-quoto" src="../imgs/svgs/running.svg" alt="">
 <div class="favorites__text-box">
        <h3 class="favorites__text-up">Quote of the day</h3>
        <p class="favorites__text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <h5 class="favorites__text-down">Tom Brady</h5>
      </div>
    </div>