<footer class="footer">
  <div class="container">
    <div class="footer-block">
      <p class="footer__logo">energy.flow</p>
      <ul class="footer__list">
        <li class="footer__item">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#facebook"></use>
          </svg>
        </li>
        <li class="footer__item">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#instagram"></use>
          </svg>
        </li>
        <li class="footer__item">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#youtube"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="slogan">
      <h2 class="slogan__title">
        Transforming your <span class="slogan__text">body</span> shape with us
      </h2>
    </div>
    <form class="footer__form" data-footer-form>
      <h3 class="footer__subtitle">Subscribe and learn about new exercises!</h3>
      <input
        class="footer__input"
        name="email"
        type="text"
        placeholder="Email"
      />
      <button class="footer__btn" type="submit">Send</button>
    </form>
    <div class="info">
      <p class="info__text">Energy Flow. All rights reserved.</p>
      <p class="info__text">
        <a class="info__link" href="https://google.com">Privacy Policy</a> /
        <a class="info__link" href="https://google.com">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>
