<section class="footer">
  <div class="first-palan">
    <div class="txt-sohialmedia">

            <p class="text-shl">energy.flow</p>
      <ul class="list-sohial">
        <li class="fasebook">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#facebook"></use>
          </svg>
        </li>
        <li class="inst">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#instagram"></use>
          </svg>
        </li>
        <li class="yuetube">
          <svg width="28">
            <use href="../imgs/symbol-defs.svg#youtube"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
