<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-block">
        <h2 class="footer__logo">energy.flow</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="https://google.com" class="footer__link"
              ><svg width="28" height="28">
                <use href="../imgs/symbol-defs.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="footer__item">
            <a href="https://google.com" class="footer__link"
              ><svg width="28" height="28">
                <use href="../imgs/symbol-defs.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="footer__item">
            <a href="https://google.com" class="footer__link"
              ><svg width="28" height="28">
                <use href="../imgs/symbol-defs.svg#youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
      <div class="slogan">
        <h3 class="slogan__title">
          Transforming your <span class="slogan__text">body</span> shape with us
        </h3>
      </div>
      <form class="footer__form" data-footer-form>
        <h4 class="footer__subtitle">
          Subscribe and learn about new exercises!
        </h4>
        <input
          class="footer__input"
          name="email"
          type="text"
          placeholder="Email"
        />
        <button class="footer__btn" type="submit">Send</button>
      </form>
    </div>
    <div class="info">
      <p class="info__text">Energy Flow. All rights reserved.</p>
      <p class="info__text">
        <a class="info__link" href="https://google.com">Privacy Policy</a> /
        <a class="info__link" href="https://google.com">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>
