<header class="header">
  <div class="container">
    <h2 class="header__logo">energy.flow</h2>
    <div class="header-block">
      <button type="button" class="header__btn home__btn">Home</button
      ><button type="button" class="header__btn">Favorites</button>
    </div>
    <img class="header__svg--mobile" src="../imgs/svgs/burger.svg" alt="burger" />
    <ul class="header__list">
      <li class="header__item">
        <a href="https://facebook.com" class="header__link">
          <svg width="28" height="28" class="header-svg">
            <use href="../imgs/symbol-defs.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <a href="https://instagram.com" class="header__link">
          <svg width="28" height="28" class="header-svg">
            <use href="../imgs/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <a href="https://youtube.com" class="header__link">
          <svg width="28" height="28" class="header-svg">
            <use href="../imgs/symbol-defs.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
