<section class="norm">
  <div class="container">

  
    
<div class="photo-norm">
<picture>
        <source
          media="(min-width: 1440px)"
          srcset="../imgs/norm/norm.png 1x, ../imgs/norm/norm@2x.png 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="
          ../imgs/norm/norm-mob.png    1x,
          ../imgs/norm/norm-mob@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
          ../imgs/norm/norm-tab.png    1x,
            ../imgs/norm/norm-tab@2x.png 2x
          "
        />
        <img src="../imgs/norm/norm.png" alt="fitt woman" class="norm__img" />
      </picture>
</div>

<div class="text-norm-box">
  <img class="norm-img-svg" src="../imgs/svgs/dumbbell.svg" alt="">
  <div class="norm-text-svg">

  <h2 class="norm-topText">110 min</h2>
 
  
  
<p class="norm-up-meonText">Daily  norm of sports</p>
<p class="norm-main-text">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? </p>
</div>
</div>
</div>
</section>