<section class="quote">
 <div class="container">


  <div class="quote__svg-text">
    <div>
      <img class="quote-img-galothka" src="../imgs/svgs/quote.svg" alt="">
    </div>
    <div class="text-boxes">
      <img class="svg-quoto" src="../imgs/svgs/running.svg" alt="">

      <div class="text-quote-box">
        <h3 class="text-up-main">Quote of the day</h3>
        <p class="quote__text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <h5 class="text-down-main">Tom Brady</h5>
      </div>
    </div>
    
  </div>

 
   
  <div class="img-sect">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="../imgs/quote/tummy.png 1x, ../imgs/quote/tummy@2x.png 2x"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ../imgs/quote/tummy-mob.png    1x,
          ../imgs/quote/tummy-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="../imgs/quote/tummy-tab.png 1x, ../imgs/quote/tummy-tab@2x.png 2x"
      />
      <img src="../imgs/quote/tummy.png" alt="girl's abs" class="quote__img" />
    </picture>
</div>
</div>
</section>
