.exercises {
  border-radius: 50px;
  background: #e8e8e8;
  padding-bottom: 64px;
  padding-top: 64px;
  padding-left: 48px;
  padding-right: 48px;
}

.exercises__title {
  color: #1b1b1b;
  font-family: "DM Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.88px;
  margin-bottom: 32px;
}

.filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
}

.filters__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f6f6f6;
  width: 121px;
  height: 44px;
  border: none;
}

.filters__btn:active {
  background-color: #7e847f;
  color: #f6f6f6;
}

.exercises__item {
  display: flex;
  width: 313px;
  height: 250px;
  padding: 45px 105px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 30px;
  background: #7e847f;
  margin-top: 32px;
}

.exercises__subtitle {
  color: #f6f6f6;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2px;
}

.exercises__text {
  color: rgba(246, 246, 246, 0.4);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.pagination__text {
  color: rgba(27, 27, 27, 0.4);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.96px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}
.pagination__item--active {
  border-radius: 18px;
  border: 1px solid #1b1b1b;

  & p {
    color: #1b1b1b;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}
