.exercises .container {
  border-radius: 50px;
  background: #e8e8e8;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 64px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 64px;
    padding-top: 64px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.exercises__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  gap: 40px 20px;
}

.exercises__title {
  font-size: 32px;
  @media screen and (min-width: 768px) {
    color: #1b1b1b;
    font-family: "DM Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.88px;
    margin-bottom: 32px;
  }
}

.filters {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  @media screen and (min-width: 768px) {
    gap: 8px;
  }
}

.filters__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters__btn {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #f6f6f6;
  padding: 7px 14px;
  border: none;
  @media screen and (min-width: 768px) {
    width: 121px;
    height: 44px;
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 121px;
    height: 44px;
  }
}

.filters__btn:active {
  background-color: #7e847f;
  color: #f6f6f6;
}

.exercises__item {
  display: flex;
  width: 313px;
  height: 250px;
  padding: 45px 105px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 30px;
  background: #7e847f;
  // margin-top: 32px;
}

.exercises__subtitle {
  color: #f6f6f6;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2px;
}

.exercises__text {
  color: rgba(246, 246, 246, 0.4);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.exercises__item-body {
list-style: none;
  
  width: 295px;
height: 165px;
  border-radius: 15px;
  background: #fff;
  @media screen and (min-width: 768px) {
    width: 313px;
height: 165px;
  }
  @media screen and (min-width: 1440px) {
    width: 424px;
  height: 141px;
  }
}
.h-medium {
  color: #1B1B1B;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media screen and (min-width: 768px) {
    color: #1B1B1B;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  @media screen and (min-width: 1440px) {
    color: #1B1B1B;

font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
  }

 
}



.h-top {
  color: #F6F6F6;
  background: #7e847f;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 8px;
  border-radius: 15px;
  @media screen and (min-width: 768px) {
   
  }
  @media screen and (min-width: 1440px) {
    color: #f6f6f6;
  font-size: 12px;
  display: inline-flex;
  
  }
 
}

.text-start-to {
  font-size: 16px;
}

.img-svg-bb {
  width: 18px;
height: 18px;
}
.inpun-Search {
  display: inline-flex;
padding: 12px 208px 12px 14px;
align-items: center;
gap: 10px;
border-radius: 30px;
background: #F6F6F6;
border: 0px;
margin-left: 525px;
position: relative;
}
.img-svg-serh {
 margin-left: 860px;


  position: absolute;
  width: 18px;
height: 18px;
}
.star-num {
  margin-left: 16px;
  margin-right: 2px;
  color: #1B1B1B;

font-feature-settings: 'clig' off, 'liga' off;
font-family: "DM Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
  @media screen and (min-width: 768px) {
    color: #1B1B1B;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 16px;
    margin-right: 4px;
  
  }
}
.text-start-to {
  margin-left: 79px;
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    margin-left: 89px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 201px;
    
  }
}
.top-sec {
  padding-left: 16px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    
  }
  @media screen and (min-width: 1440px) {
    padding-left: 18px;
  padding-top: 16px;
    
  }
}

.emdium-sec {
  margin-top: 25px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.buttom-sec {
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.img-svg-bb-run {
  margin-right: 16px;
  background-color: #7e847f;
  border-radius: 20px;
  width: 24px;
  height: 24px;
}
.text-buttom-no {
  font-size: 12px;
  color: #1b1b1b;
}
.text-buttom-all {
  margin-left: 16px;
  margin-right: 4px;
  font-size: 12px;
  color: rgba(27, 27, 27, 0.4);
}

.pagination__text {
  color: rgba(27, 27, 27, 0.4);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.96px;
}

.pagination__span {
  color: rgba(27, 27, 27, 0.4);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.96px;
}

.unFisitble{
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
  padding-bottom: 64px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}
.pagination__item--active {
  border-radius: 18px;
  border: 1px solid #1b1b1b;

  & p {
    color: #1b1b1b;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}
