.favorites__text-box {
  padding-left: 16px;
}
.favorites__text-up {
  color: #f6f6f6;
  padding-bottom: 14px;

  color: #f6f6f6;

  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    padding-bottom: 16px;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
}
.favorites__text {
  color: rgba(246, 246, 246, 0.6);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 14px;
  padding-right: 64px;

  @media screen and (min-width: 768px) {
    padding-bottom: 25px;
    color: rgba(246, 246, 246, 0.6);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.favorites__text-down {
  color: #f6f6f6;
  color: #f6f6f6;

  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.favorite__img {
  width: 352px;
  height: 302px;
  border-radius: 50px;
  background: url(<path-to-image>) lightgray -22.525px 0.77px / 103.822% 160.887%
      no-repeat,
    #e8e8e8;
}

.daily .container {
  display: flex;
}

.daily {
  padding-top: 156px;
}

.daily-norm__svg {
  width: 20px;
  height: 20px;
}

.daily-norm__time {
  color: #1b1b1b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.daily-norm__text {
  color: rgba(27, 27, 27, 0.6);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.daily-norm__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 106px;
  margin-left: 110px;
}

.daily-norm {
  border-radius: 50px;
  background: #fff;
  width: 352px;
  height: 302px;
}
