.header {
  position: absolute;
  top: 40px;
  right: 64px;
//   left: 64px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
    display: flex;
}