.popup-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(27, 27, 27, 0.6);
}

.popup {
  width: 335px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $titleColor;
  border-radius: 20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  scroll-behavior: auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 95vh;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 716px;
    padding: 40px;
    height: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 732px;
  }
}

.popup__close-btn {
  position: absolute;
  top: 21px;
  right: 21px;
  background-color: transparent;
  border: none;
  padding: 0;
  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}
.popup-img-block {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 40px;
  }
}
.popup__img {
  width: 295px;
  height: 258px;
  background-color: gray;
  background-size: contain;
  border-radius: 12px;
  @media screen and (min-width: 768px) {
    width: 270px;
    height: 259px;
  }
}
.popup__title {
  color: $textColor;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}
.rating {
  display: flex;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba(27, 27, 27, 0.2);
  }
}
.rating__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.rating__list {
  display: flex;
  margin-left: 2px;
}
.rating__item:not(:last-child) {
  margin-right: 2px;
}
.popup__list {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  position: relative;
  gap: 20px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;

    right: 0;
    left: 0;
    height: 1px;
    background-color: rgba(27, 27, 27, 0.2);
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    gap: 16px;
    &::after {
      bottom: -8px;
    }
  }
}
.popup__subtitle {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.popup__text {
  color: rgb(27, 27, 27);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.popup__description {
  color: rgba(27, 27, 27, 0.6);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 30px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    // text-wrap: balance;
    width: 342px;
    padding-top: 24px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: auto;
  }
}
.popup__btn {
  position: relative;
  border-radius: 30px;
  background-color: rgb(126, 132, 127);
  border: none;
  color: rgb(246, 246, 246);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 12px;
  padding-right: 109px;
  padding-left: 60px;
  &:last-child {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    outline: 1px solid rgb(27, 27, 27);
    color: rgb(27, 27, 27);
    margin-top: 9px;
  }
  @media screen and (min-width: 768px) {
    width: auto;
    padding: 12px 52px 12px 24px;

    &:last-child {
      margin-top: 0;
      margin-left: 7px;
      padding: 12px 24px 12px 24px;
    }
  }
}
.popup__heart {
  position: absolute;
  width: 15.68px;
  top: 16.5px;

  right: 84.16px;
  @media screen and (min-width: 768px) {
    width: 17.5px;
    right: 25.29px;
  }
}
.popup--hidden {
  opacity: 0;
  pointer-events: none;
}
