.quote__img {
    width: 704px;
height: 302px;
border-radius: 50px;
}
.quote {
  
display: flex;
justify-content: center;
align-items: center;
}

.awdawd{

    display: flex;
}
.quote-imgbb{
    margin-top: 32px;
    margin-left: 498px;
    width: 48px;
height: 48px;
}
.text-quote-box {
    padding-left: 16px;
}
.svg-text{
    background: #7E847F;
    border-radius: 50px;
      width: 704px;
height: 302px;

padding-top: 16px;
padding-left: 98px;
}

.text-up-main {
    color: #F6F6F6;
padding-bottom: 16px;
    font-feature-settings: 'clig' off, 'liga' off;
   
}
.text {
    color: rgba(246, 246, 246, 0.60);
    padding-bottom: 25px;
    padding-right: 64px;
   
}


.text-down-main {
    color: #F6F6F6;

    
}

.svg-quoto {
    width: 34px;
height: 32px;
}






